### Testing of bloom filter hashing algorithms

In [31]:
import pandas as pd
from bloom import bloom_hash

In [32]:
df = pd.read_csv("../../simulated_data/dataset_1.csv", header = 0, delimiter = ",")
df.head()

,person_id,service_date,first_name,middle_name,last_name,dob,ssn
0,1000,2020-10-20,vicky,Kathy,Singh,1984-04-01,895-37-4654
1,1001,2021-09-06,Gary,Stacey,Watson,1984-10-22,220-72-9331
2,1002,2020-11-07,Anna,Joseph,Camacho,1996-04-11,404-44-6841
3,1003,2021-10-24,Rose,Amanda,Powers,1989-12-27,072-45-6710
4,1004,2020-12-26,Rebecca,Steven,Zuniga,1962-03-10,624-34-0417

#### Test: ssn collisions

In [33]:
hashes_bits = [list(bloom_hash(20, 5, x)) for x in df.ssn.values]

hashes_list = []
for ha in hashes_bits:
    hashes_list.append([str(x) for x in ha])
    
hashes_string = []
for ha in h:
    hashes_string.append(",".join(ha))

In [34]:
hashes_df = pd.DataFrame({"hash": hashes_string})
counts = hashes_df.value_counts("hash")
# Show duplicates
counts[counts > 1]

Series([], dtype: int64)

#### Test: First name collisions

#### Test: First name collisions